In [1]:
import numpy as np
import pandas as pd

In [2]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [3]:
concrete_data.shape

(1030, 9)

In [4]:
concrete_data.describe

<bound method NDFrame.describe of       Cement  Blast Furnace Slag  Fly Ash  Water  Superplasticizer  \
0      540.0                 0.0      0.0  162.0               2.5
1      540.0                 0.0      0.0  162.0               2.5
2      332.5               142.5      0.0  228.0               0.0
3      332.5               142.5      0.0  228.0               0.0
4      198.6               132.4      0.0  192.0               0.0
...      ...                 ...      ...    ...               ...
1025   276.4               116.0     90.3  179.6               8.9
1026   322.2                 0.0    115.6  196.0              10.4
1027   148.5               139.4    108.6  192.7               6.1
1028   159.1               186.7      0.0  175.6              11.3
1029   260.9               100.5     78.3  200.6               8.6

      Coarse Aggregate  Fine Aggregate  Age  Strength
0               1040.0           676.0   28     79.99
1               1055.0           676.0   28     61.89
2                932.0           594.0  270     40.27
3                932.0           594.0  365     41.05
4                978.4           825.5  360     44.30
...                ...             ...  ...       ...
1025             870.1           768.3   28     44.28
1026             817.9           813.4   28     31.18
1027             892.4           780.0   28     23.70
1028             989.6           788.9   28     32.77
1029             864.5           761.5   28     32.40

[1030 rows x 9 columns]>

In [5]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [6]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']]
target = concrete_data['Strength']

In [7]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [8]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [9]:
import keras

Using TensorFlow backend.

In [10]:
from keras.models import Sequential
from keras.layers import Dense
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

In [13]:
def regression_model():
    model = Sequential()
    model.add(Dense(50, activation='relu', input_shape=(predictors.shape[1],)))
    model.add(Dense(50, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [14]:
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size = 0.3)
model = regression_model()

In [16]:
model.fit(X_train, y_train, epochs=50, verbose=0)

y_pred = model.predict(X_test)

loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
print("loss of value : " + str(loss_val))
    
print("mean mse : " + str(np.mean(mean_squared_error(y_test, y_pred))))
print("std mse : " + str(np.std(mean_squared_error(y_test, y_pred))))
print("mean r2 : "+ str(np.mean(r2_score(y_test, y_pred))))
print("std r2 : "+ str(np.std(r2_score(y_test, y_pred))))

10/10 [==============================] - 0s 1ms/step - loss: 45.9580
loss of value : 45.95803451538086
mean mse : 45.95803977196084
std mse : 0.0
mean r2 : 0.8292554020882387
std r2 : 0.0

In [17]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors without normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 77.34049987792969
MSE 2: 56.58251953125
MSE 3: 36.901100158691406
MSE 4: 45.54253005981445
MSE 5: 32.74982833862305
MSE 6: 36.06972885131836
MSE 7: 34.34670639038086
MSE 8: 27.07503318786621
MSE 9: 26.1521053314209
MSE 10: 36.28175735473633
MSE 11: 28.432519912719727
MSE 12: 27.97649383544922
MSE 13: 30.60283660888672
MSE 14: 31.781015396118164
MSE 15: 25.59291648864746
MSE 16: 20.388668060302734
MSE 17: 22.59294319152832
MSE 18: 24.685644149780273
MSE 19: 24.062192916870117
MSE 20: 25.039833068847656
MSE 21: 24.6048641204834
MSE 22: 21.449846267700195
MSE 23: 18.27052879333496
MSE 24: 24.16351318359375
MSE 25: 23.190513610839844
MSE 26: 23.453990936279297
MSE 27: 16.264421463012695
MSE 28: 17.0191593170166
MSE 29: 22.651142120361328
MSE 30: 18.592172622680664
MSE 31: 14.925580978393555
MSE 32: 17.695384979248047
MSE 33: 15.63618278503418
MSE 34: 19.73134994506836
MSE 35: 15.77251148223877
MSE 36: 18.55437469482422
MSE 37: 13.024107933044434
MSE 38: 14.19870376586914
MSE 39: 15.394978523254395
MSE 40: 13.430166244506836
MSE 41: 16.740427017211914
MSE 42: 14.449064254760742
MSE 43: 16.87261199951172
MSE 44: 16.65563201904297
MSE 45: 19.974544525146484
MSE 46: 13.178168296813965
MSE 47: 13.915669441223145
MSE 48: 14.009149551391602
MSE 49: 14.810508728027344
MSE 50: 15.2867431640625


Below is the mean and standard deviation of 50 mean squared errors without normalized data. Total number of epochs for each training is: 50

Mean: 23.882257737346762
Standard Deviation: 11.68218960785956